.top2 { 
  margin-top:2%;
}

.top5 { 
  margin-top:5%;
}

.form-title {
  margin: auto;
  width: 50%;
  text-align: center;
}

form {
  width: 55%;
  background: whitesmoke;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.form-div {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  position: absolute;
  display: grid;
  place-items: center;
  z-index: 1;
  display: none;
}

.base-div {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  /* position: absolute; */
  display: grid;
  place-items: center;
}

.base-table-div {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  /* position: absolute; */
  display: grid;
  place-items: center;
}

.table-div {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  position: absolute;
  display: grid;
  place-items: center;
  z-index: 1;
  display: none;

  /* to add scrolling to expenses popup list*/
  overflow-x:hidden;
  overflow-y:auto;
  min-height:200px;
  max-height:500px;
}

.no-edit {
  border-width:0px;
  border:none;
  background: transparent;
}