.top2 { 
  margin-top:2%;
 }

.form-title { 
  margin-bottom:20%;
  margin-left:2%;
  margin-right:2%;
  margin: auto;
  width: 50%;
  text-align: center;
}

form {
  width: 75%;
  background: whitesmoke;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.form-div {
  display: grid;
  place-items: center;
}